.main-div {
  margin: 5px;
}
.correct-answer {
  color: darkgreen;
  font-weight: bold;
}

.wrong-answer {
  color: red;
  font-weight: bold;
}

.selected-answer {
  background-color: rgb(255, 255, 128);
}
