<div class="dialog-border">
  <p>You are about tos ubmit the test</p>
  <br />
  <p>
    Once the test is submitted, you won't be able to change the any of yuor
    answres.
  </p>
  <p>Are you sure you want to finish?</p>
  <br />
  <p>Click <b>Yes</b> to submit or <b>No</b> to continue with the test.</p>
  <button mat-raised-button color="accent" [mat-dialog-close]="true">
    Yes
  </button>
  <button
    mat-raised-button
    color="accent"
    [mat-dialog-close]="false"
    cdkFocusInitial
  >
    No
  </button>
</div>
