<div class="main-div">
  <form #f="ngForm" (ngSubmit)="save()">
    <div>
      Field of study: <b>{{ fieldOfStudy }}</b>
    </div>
    <div>
      <mat-form-field class="input-field">
        <input
          matInput
          placeholder="Question text"
          [(ngModel)]="title"
          name="title"
          required
        />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="input-field">
        <textarea
          rows="5"
          [(ngModel)]="textBelowQuestion"
          name="textBelowQuestion"
          matInput
          placeholder="Text below question"
        ></textarea>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="input-field">
        <mat-select
          (selectionChange)="changeMultipleChoice()"
          [(ngModel)]="multipleChoice"
          name="multipleChoice"
          placeholder="Question Type"
        >
          <mat-option [value]="false">Single Choice Answer</mat-option>
          <mat-option [value]="true">Multiple Choice Answer</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <button type="button" mat-stroked-button (click)="addPossibleAnswer()">
        Add Possible Answer
      </button>
    </div>
    <div>
      <mat-radio-group [(ngModel)]="answer" name="answer">
        <div *ngFor="let item of possibleAnswers; let i = index">
          <app-possible-answer
            (remove)="removeItem($event)"
            [index]="i"
            [model]="item"
            required
          ></app-possible-answer>
        </div>
      </mat-radio-group>
    </div>
    <div>
      <mat-form-field>
        <mat-select
          (selectionChange)="changeMultipleChoice()"
          [(ngModel)]="horizontalDisplay"
          placeholder="Answers Layout"
          name="horizontalDisplay"
          required
        >
          <mat-option [value]="true">Horizontal</mat-option>
          <mat-option [value]="false">Vertical</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="input-field">
        <input [(ngModel)]="tags" name="tags" matInput placeholder="Tags" />
      </mat-form-field>
    </div>
    <div>
      <button
        type="button"
        [disabled]="!f.valid || possibleAnswers.length == 0"
        mat-stroked-button
        (click)="show()"
      >
        Show
      </button>
      <button
        type="submit"
        [disabled]="!f.valid || possibleAnswers.length == 0"
        mat-stroked-button
        color="primary"
      >
        Save
      </button>
    </div>
  </form>
</div>
