table {
  width: 100%;
}
.select-question {
  width: 5%;
}

.question-header {
  font-weight: 500;
  font-size: 1.2em;
}

.mat-form-field {
  font-size: 14px;
  width: 50%;
}

.selected-number {
  font-size: 1.3em;
  font-weight: 500;
}

.question-header {
  font-weight: 500;
  font-size: 1.2em;
}
