table {
  width: 100%;
}
.select-question {
  width: 5%;
}

// .mat-row:nth-child(even) {
// }

.mat-row:nth-child(odd) {
  background-color: whitesmoke;
}

.question-header {
  font-weight: 500;
  font-size: 1.2em;
}

.mat-form-field {
  font-size: 14px;
  width: 50%;
}

.selected-number {
  font-size: 1.3em;
  font-weight: 500;
}

.mat-header-cell {
  color: black;
}
