<div *ngIf="dataSource.data.length !== 0; else noTests">
  <div class="filter-container">
    <b>Filter names by keywords:</b>
    <mat-form-field floatLabel="never" class="filter">
      <input
        matInput
        (keyup)="applyFilter($event.target.value)"
        placeholder="Enter a list of keywords separated by commas"
      />
    </mat-form-field>
    <b class="test-count">Showing {{ dataSource.data.length }} tests</b>
  </div>
  <table
    class="mat-elevation-z8"
    [dataSource]="dataSource"
    mat-table
    matSort
    matSortActive="lastUpdate"
    matSortDirection="desc"
    matSortDisableClear
  >
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td style="width:5%;" mat-cell *matCellDef="let element">
        {{ element.id }}
      </td>
    </ng-container>

    <ng-container matColumnDef="link">
      <th mat-header-cell *matHeaderCellDef>Link</th>
      <td style="width:8%;" mat-cell *matCellDef="let element">
        <button
          ngxClipboard
          cbContent="http://localhost:4200/test/{{ element.id }}/signup"
          mat-stroked-button
          color="primary"
        >
          Copy
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Test Name</th>
      <td
        [matTooltip]="element.name"
        [matTooltipShowDelay]="400"
        matTooltipPosition="below"
        style="width:40%;"
        style="text-align: left"
        mat-cell
        *matCellDef="let element"
      >
        {{ element.name }}
      </td>
    </ng-container>

    <ng-container matColumnDef="questionsCount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        num of questions
      </th>
      <td style="width:10%" mat-cell *matCellDef="let element">
        {{ element.questionsCount }}
      </td>
    </ng-container>

    <ng-container matColumnDef="lastUpdate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Update</th>
      <td style="width:10%" mat-cell *matCellDef="let element">
        {{ element.lastUpdate | dateFormat }}
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef></th>
      <td style="width:15%" mat-cell *matCellDef="let element">
        <div class="status" *ngIf="!element.isActive; else active">
          <button
            [disabled]="element.isActive"
            mat-stroked-button
            color="accent"
            (click)="edit(element.id)"
          >
            edit
          </button>

          <button
            [disabled]="element.isActive"
            mat-stroked-button
            color="warn"
            (click)="delete(element.id)"
          >
            Delete
          </button>
        </div>
        <ng-template #active>
          <b
            *ngIf="element.isActive"
            style="margin-left: 20px"
            class="text-success "
            >Active</b
          >
        </ng-template>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    [length]="this.dataSource.data.length"
  ></mat-paginator>
</div>

<ng-template #noTests>
  <h2>no tests...</h2>
</ng-template>
