<h1>New test</h1>
<form #f="ngForm" (ngSubmit)="submit(f)">
  <div class="create-test-container">
    <div class="test-details-container">
      <h2 class="test-details-header">General test details</h2>
      <hr />
      <div class="">Field of study: <b>dev</b></div>

      <mat-form-field>
        <mat-select required #language ngModel name="Language" placeholder="Language">
          <mat-option value="option">English</mat-option>
          <mat-option value="option">hebrew</mat-option>
        </mat-select>
        <mat-error *ngIf="language.errors?.required">Language is required.</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input required ngModel #testName="ngModel" name="testName" matInput placeholder="Test name" />
        <mat-error *ngIf="testName.errors?.required">Test name is required.</mat-error>
      </mat-form-field>
      <mat-form-field class="small-input">
        <input
          required
          ngModel
          #grade="ngModel"
          name="grade"
          type="number"
          min="0"
          max="100"
          pattern="([0-9]|[1-8][0-9]|9[0-9]|100)"
          matInput
          placeholder="Passing grade"
          (keyup)="submit(grade)"
        />
        <mat-error *ngIf="grade.errors?.required">Passing grade is required.</mat-error>
        <mat-error *ngIf="grade.errors?.pattern">passing grade must be between 0 to 100</mat-error>
      </mat-form-field>

      <mat-checkbox>Show correct answers after submission</mat-checkbox>

      <mat-form-field>
        <textarea
          required
          ngModel
          #header="ngModel"
          name="header"
          cdkTextareaAutosize
          matInput
          placeholder="Header"
        ></textarea>
        <mat-error *ngIf="header.errors?.required">Header is required.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <textarea
          required
          ngModel
          #success="ngModel"
          name="success"
          cdkTextareaAutosize
          matInput
          placeholder="Message to show on success"
        ></textarea>
        <mat-error *ngIf="success.errors?.required">Success message is required.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <textarea
          required
          ngModel
          #failure="ngModel"
          name="failure"
          cdkTextareaAutosize
          matInput
          placeholder="Message to show on failure"
        ></textarea>
        <mat-error *ngIf="failure.errors?.required">Failure message is required.</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-select
          #certificate="ngModel"
          required
          ngModel
          name="certificate"
          placeholder="Certificate templates"
        >
          <mat-option value="option">English</mat-option>
          <mat-option value="option">hebrew</mat-option>
          <mat-option value="option">hebrew</mat-option>
          <mat-option value="option">hebrew</mat-option>
        </mat-select>
        <mat-error *ngIf="certificate.errors?.required">Certificate templates is required.</mat-error>
      </mat-form-field>
    </div>
    <div class="test-details-container">
      <h2>Email delivery upon test completion</h2>
      <div class="">Current status: <b class="text-danger">Off</b></div>
      <p>
        <b> Emails won't be sent upon test completion </b>
        <br />

        to torn on email delivery, fill out the mandatory fields in this section
      </p>

      <mat-form-field>
        <input ngModel #from="ngModel" name="from" matInput placeholder="From" />
      </mat-form-field>
      <mat-form-field>
        <input ngModel #cc="ngModel" name="cc" matInput placeholder="CC" />
      </mat-form-field>
      <mat-form-field>
        <input ngModel #bcc="ngModel" name="bcc" matInput placeholder="BCC" />
      </mat-form-field>
      <div class="horizontal-line">Passing the test</div>
      <mat-form-field>
        <input
          ngModel
          #passingSubject="ngModel"
          name="passingSubject"
          matInput
          placeholder="Message subject"
        />
      </mat-form-field>
      <mat-form-field>
        <textarea
          rows="5"
          ngModel
          #passingBody="ngModel"
          name="passingBody"
          matInput
          placeholder="Message body"
        ></textarea>
      </mat-form-field>
      <div class="predifindTemplateTitle">Predifind Templates - click to copy to clipboard</div>
      <div class="flex-wrap">
        <b class="predifindTemplate" *ngFor="let item of predifindTemplates"> {{ item }} </b>
      </div>
      <div class="horizontal-line">Failing the test</div>
      <mat-form-field>
        <input
          ngModel
          #failingSubject="ngModel"
          name="failingSubject"
          matInput
          placeholder="Message subject"
        />
      </mat-form-field>
      <mat-form-field>
        <textarea
          rows="5"
          ngModel
          #failingBody="ngModel"
          name="failingBody"
          matInput
          placeholder="Message body"
        ></textarea>
      </mat-form-field>
      <div class="predifindTemplateTitle">Predifind Templates - click to copy to clipboard</div>
      <div class="flex-wrap">
        <b class="predifindTemplate" *ngFor="let item of predifindTemplates"> {{ item }} </b>
      </div>
    </div>
  </div>
  <button class="next-btn" mat-raised-button color="accent" [disabled]="!f.valid">Next</button>
</form>
