@mixin containers {
  box-shadow: 0 4px 4px #ccc;
  padding: 0 25px 25px;
  box-sizing: border-box;
  border: 2px solid #eee;
  background-color: whitesmoke;
}

.create-test-container {
  display: flex;
}
.create-test-container form {
  width: 100%;
}
.test-details-container {
  width: 48%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  @include containers();
}

.small-input {
  width: 25%;
}
.horizontal-line {
  background-color: lightgray;
  padding: 5px;
  text-align: center;
  margin: 25px 0;
}
.next-btn {
  float: right;
  margin: 1%;
}
.back-btn {
  float: left;
  margin: 1%;
}
.predifindTemplate {
  padding-right: 1%;
  cursor: pointer;
}
.predifindTemplateTitle {
  font-weight: 800;
  margin-bottom: 2%;
}

.table-container {
  display: flex;
  flex-direction: column;
  width: 98%;
  margin: 50px auto;
  @include containers();
}
