h1 {
  text-shadow: 1px 1px #2e7d32;
}
.display-flex {
  display: inline-flex;
  flex-wrap: wrap;
}

.vertical {
  flex-direction: column;
}

.answer {
  margin: 5px;
}

.btn-navigation-container {
  margin: 50px 0 0 0;

  button {
    margin: 0 10px;
  }
}

mat-icon {
  margin-bottom: 1px;
}
.submit-icon:hover mat-icon {
  transform: rotate(23deg);
}
