
.question-container {
  margin: 0 3%;

  .answered-amount {
    color: #2e7d32;
  }
}

th,
td {
  border-bottom: 1px solid #ddd;
  padding: 5px;
}
div button span b {
  font-size: 1.3em;
}

hr {
  border: 1px solid gray;
}

.button-container button {
  margin: 5px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;

  background-color: #2e7d32;
  margin: 0 -2.6%;
  height: 10%;
}
