<button class="close-btn" mat-dialog-close mat-icon-button color="warn">
  <mat-icon aria-label="close show question dialog">close</mat-icon>
</button>
<div class="dialog-container">
  <h2>
    {{ data.question.Title }}
  </h2>

  <h4>{{ data.question.TextBelow }}</h4>

  <div *ngIf="!data.question.MultipleChoice; else multipleSelect">
    <mat-radio-group
      [class.vertical]="!data.question.HorizontalDisplay"
      class="display-flex"
    >
      <mat-radio-button
        class="answer"
        *ngFor="let answer of data.answers"
        [checked]="answer.IsCorrect"
        [value]="answer"
      >
        {{ answer.Title }}
      </mat-radio-button>
    </mat-radio-group>
  </div>
  <ng-template #multipleSelect>
    <div
      class="display-flex"
      [class.vertical]="!data.question.HorizontalDisplay"
    >
      <mat-checkbox
        [checked]="answer.IsCorrect"
        class="answer"
        *ngFor="let answer of data.answers"
      >
        {{ answer.Title }}
      </mat-checkbox>
    </div>
  </ng-template>
</div>
