<button class="close-btn" mat-dialog-close mat-icon-button color="warn">
  <mat-icon aria-label="close show question dialog">close</mat-icon>
</button>
<div class="dialog-container">
  <h2>
    {{ data.title }}
  </h2>

  <h4>{{ data.textBelow }}</h4>

  <div *ngIf="!data.multipleChoice; else multipleSelect">
    <mat-radio-group
      [class.vertical]="!data.horizontalDisplay"
      class="display-flex"
    >
      <mat-radio-button
        class="answer"
        *ngFor="let answer of data.possibleAnswers"
        [checked]="answer.correct"
        [disabled]="true"
        [value]="answer"
      >
        {{ answer.title }}
      </mat-radio-button>
    </mat-radio-group>
  </div>
  <ng-template #multipleSelect>
    <div class="display-flex" [class.vertical]="!data.horizontalDisplay">
      <mat-checkbox
        [checked]="answer.correct"
        [disabled]="true"
        class="answer"
        *ngFor="let answer of data.possibleAnswers"
      >
        {{ answer.title }}
      </mat-checkbox>
    </div>
  </ng-template>
</div>
